.A{                                     /*寬高再修正*/
    border-style: solid;
    padding:400px 350px;
    border-width: 3px;
    text-align: center;
    margin: auto;
    display: flex;
    position:absolute;
    background-color: #ce6b8e;
}
.A1{
    border-style: solid;
    padding:36px 300px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 14px;
    right: -1px;
    display: flex;
    position:absolute;
}
.A2{
    border-style: solid;
    padding:80px 300px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 100px;
    right: -1px;
    display: flex;
    position:absolute;
}
.A3{
    border-style: solid;
    padding:255px 300px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 280px;
    right: -1px;
    display: flex;
    position:absolute;
}                       
.A4{                                    /*A4有和其他重疊*/
    border-style: solid;
    padding:140px 1px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 10px;
    left: 1px;
    display: flex;
    position:absolute;
    background-color: rgba(56, 71, 209, 0.856);
    writing-mode: vertical-lr;
}

.buttom1{
    padding:30px 30px;
    display: flex;
    position:absolute;
    background-color: rgba(56, 71, 209, 0.856);
    background-image: url(/照片/筆.png);      /*圖片沒上傳*/
    bottom:10px;
    right:10px;
    border-radius: 50%;
}
.buttom2{ 
    width:62px; 
    height:62px;
    object-fit: fill;
    display: flex;
    position:absolute;
    background-image: url(/照片/搜尋.png);    /*圖片沒上傳*/
    top:10px;
    right:10px;
    border-radius: 50%;
  
}
.mainbuttom{                            /*圖片沒上傳*/
    width:50px; 
    height:50px;
    object-fit: cover;
    display: flex;
    position:absolute;
    background-image: url(/照片/茶花.jpg);
    top:50px;
    left:10px;
    border-radius: 50%;
}

.search-bar{
    padding:6px;
    width:500px; 
    height:20px;
    right:80px;
    top: 25px;
    position:absolute;
}

