.A{
    /* border-style: solid; */
    background-color: #ce6b8e;
    /* border-width: 1000px; */
    height: 3000px;
    text-align: center;
    margin: auto;
}
.A1{
    padding: 10px;
    display: absolute;
    width: auto;
    height: 300px;
    background-color: red;
    top: 10px;
}