.A{                                     /*寬高再修正*/
    border-style: solid;
    width:1899px;
    height: 899px;
    padding:3px;
    border-width: 3px;
    text-align: center;
    margin: auto;
    display: flex;
    position: inherit;
    background-color: #ce6b8e;
}
.B2{



}
.A1{
    border-style: solid;
    width:1780px;
    height: 65px;
    padding:3px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 14px;
    right: 10px;
    display: flex;
    position:fixed;
}
.A2{
    border-style: solid;
    width:1780px;
    height: 150px;
    padding:3px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 100px;
    right: 10px;
    display: flex;
    position:fixed;
}
.A3{
    border-style: solid;
    width:1780px;
    height: 610px;
    padding:3px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 280px;
    right: 10px;
    display: flex;
    position:fixed;
}                       
.A4{                                    /*A4有和其他重疊*/
    border-style: solid;
    padding:140px 1px;
    border-width: 3px;
    text-align: center;
    margin:  3px;
    top: 10px;
    left: 1px;
    display: flex;
    position:fixed;
    background-color: rgba(56, 71, 209, 0.856);
    writing-mode: vertical-lr;
}

.buttom1{
    padding:30px 30px;
    display: flex;
    position:fixed;
    background-color: rgba(56, 71, 209, 0.856);
    background-image: url(/照片/筆.png);      /*圖片沒上傳*/
    bottom:50px;
    right:30px;
    border-radius: 50%;
}
.buttom2{ 
    width:62px; 
    height:62px;
    object-fit: fill;
    display: flex;
    position:fixed;
    background-image: url(/照片/搜尋.png);    /*圖片沒上傳*/
    top:25px;
    right:30px;
    border-radius: 50%;
  
}
.mainbuttom{                            /*圖片沒上傳*/
    width:50px; 
    height:50px;
    object-fit: cover;
    display: flex;
    position:fixed;
    background-image: url(/照片/茶花.jpg);
    top:50px;
    left:10px;
    border-radius: 50%;
}

.search-bar{
    padding:6px;
    width:1650px; 
    height:30px;
    right:120px;
    top: 32px;
    position:fixed;
}

